<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
</head>
<style>

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .custom-form {
        width: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

</style>
<body>
<div th:replace="/layout/layout :: navbar-inside"></div>


<div class="form-container">
    <div class="container">
        <form class="custom-form" method="post"th:action="${student} ? @{/edit/student/{id} (id=${student?.id})} : @{/add/student}">
            <div class="mb-3">
                <label for="input1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="input1" name="firstName" th:value="${student?.firstName}">
            </div>
            <div class="mb-3">
                <label for="input2" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="input2" name="lastName" th:value="${student?.lastName}">
            </div>
            <div class="mb-3">
                <label for="input3" class="form-label">Index</label>
                <input type="text" class="form-control" id="input3" name="username" th:value="${student?.username}">
            </div>
            <div class="mb-3">
                <label for="input4" class="form-label">Password</label>
                <input type="password" class="form-control" id="input4" name="password" th:value="${student?.password}">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>


</body>
</html>