<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
</head>
<body>

<div th:replace="/layout/layout :: navbar-inside"></div>

<br>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Index</th>
        <th scope="col">Action #1</th>
        <th scope="col">Action #2</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student, num : ${students}">
        <th scope="row" th:text="${num.count}"></th>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.username}"></td>
        <td>
            <form method="get" th:action="@{'/edit/student/{id}' (id = ${student.id})}" >
                <button type="submit" class="btn btn-outline-primary">Edit</button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{'/delete/student/{id}' (id = ${student.id})}" >
                <button type="submit" class="btn btn-outline-primary">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>