<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semester Page</title>
</head>
<style>

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .custom-form {
        width: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

</style>
<body>
<div th:replace="/layout/layout :: navbar-inside"></div>


<div class="form-container">
    <div class="container">
        <form class="custom-form" method="post" th:action="${semester} ? @{/edit/semester/{id} (id=${semester?.id})} : @{/add/semester}">
            <div class="mb-3">
                <label for="input1" class="form-label">Type</label>
                <select id="input1" name="type" class="form-control">
                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}" th:selected="${type} == ${semester?.type}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="input2" class="form-label">Year</label>
                <input type="text" class="form-control" id="input2" name="year" th:value="${semester?.year}">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>


</body>
</html>